* {
    margin: 0;
    padding: 0;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  form {
    width: 400px;
    margin: 25px auto 0;
  }
  
  form h2 {
    text-align: center;
  }
  
  form > * {
    padding: 8px 10px;
    margin-bottom: 5px;
  }
  
  #btn  {
    background: rgb(108, 219, 48);
    color: #fff;
  }